#login h1 a, .login h1 a {
    background-image: url("../images/logo-inverse.png");
    -webkit-background-size: auto;
    background-size: auto;
    margin-top: 10px;
    height:84px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s
}
.login h1 a:focus{
    box-shadow: 0 0 0 0;
}
.login h1 a:hover{
    opacity: 0.8;
    margin-top: 0 !important;
    margin-bottom: 35px;
    transition: 0.2s
}
body.login{
    background-image: url("../images/login_bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.login a{
    color: #fff !important;
    transition: 0.8s;
}
.login a:hover,.login a:focus{
    color: #fff !important;
    text-decoration: underline !important;
    transition: 0.8s;
}
#login{
    width: 378px !important;
}
#nav{
    float: right;
    margin: 16px 0 !important;
}
#backtoblog{
    float: left;
}
@media (max-width: 465px) {
    #backtoblog,#nav{
        font-size: 11px !important;
    }
    .login form{
        margin-right: 20px;
        margin-left: 20px !important;
    }
    .login .message{
        margin-right: 20px;
        margin-left: 20px !important;
    }
}