@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style : normal;
	src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
	src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
.main-navigation >div{
	display: inline-block;
}
.top_slider h1,.top_slider p {
	color: #fff;
}
.mb_40{
	margin-bottom: 40px;
}
.navbar_brand{
	float: left;
}
.social-links-menu li{
	display: inline-block;
}
li.widget{
	list-style: none;
}
.footer_contact pre{
	margin-bottom: 5px;
	font-size: 12px;
}
.footer_contact{
	margin-top: 25px;
}
.thumbnail-classic-icon i{
	font-size: 48px;
}
.thumbnail-classic-icon{
	cursor: pointer;
}
.breadcrumbs-custom-path li:not(:last-child) {
	margin-right: 32px;
}
.counter_main span,.counter_main p {
	color: #fff;
}
.form-input{
	border: 1px solid #e0e0e0 !important;
}
.courses_icon{
	width: 170px;
	height: 170px;
	padding: 30px;
	border-radius: 100%;
	border: 3px solid #083b66;
	margin: 0 auto;
}
.material-parallax{
	background-size:cover;
	background-repeat:no-repeat;
}
.counters_icon{
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
}
.circle_holder {
	width: 130px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
	overflow: hidden;
}

.training_button{
	margin-top: 0;
}
.course_info{
	height: 180px;
}
.testimonials_car .owl-item img{
	width: unset;
}

.quote-modern-text::before{
	font-family: 'FontAwesome';
	content:'\f10e' !important;
}
.backdrop_custom{
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
}
#training_form{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	z-index: 4;
	padding: 0;
	margin-right: -50%;
	transform:translate(-50%,-50%)
}
.breadcrumbs-custom-path li:after {
	font-family: 'FontAwesome';
	content: "\f105";
	position: absolute;
	top: 53%;
	right: -25px;
	display: inline-block;
	font-style: normal;
	color: #c2c2c3;
	transform: translateY(-50%);
	font-size: 19px;
}

.breadcrumbs-custom-path li:last-child {
	padding-right: 0;
}
.breadcrumbs-custom-path li:last-child:after {
	display: none;
}
.fb_header img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin-right: 10px;
}
.fb_header{
	margin: 10px 0 25px 0;
}
.thumbnail-classic-icon i{
	color: #083b66;
}
.thumbnail-classic:hover .thumbnail-classic-icon i{
	color: #fff ;
	z-index: 1;
}
.menu-main-container,.menu-main-arm-container{
	float: right
}
.thumbnail-classic-icon i{
	color: #083b66;
}
.thumbnail-classic:hover .thumbnail-classic-icon i{
	color: #fff ;
	z-index: 1;
}
.menu-main-container{
	float: right
}
.cff-wrapper .header-text{
	font-size: 18px !important;
}
.ml_0{
	margin-left: 0 !important;
}
.pl_0{
	padding-left: 0 !important;
}
#top-menu>li.active>a{
	color: #083b66;
}
#top-menu>li>a{
	font-size: 16px;
	letter-spacing:.05em;
	text-transform: uppercase;
}
#top-menu>li>a:before{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	height: 3px;
	content: '';
	display: inline-block;
	opacity: 0;
	transition: 250ms;
	background: #083b66;
}
#top-menu>li>a:hover:before{
	right: 0;
	opacity: 1 ;
}
.menu-main-arm-container a{
	font-size: 12px !important;
	letter-spacing: 0 !important;
	padding: 32px 0 !important;
}
.navbar_brand>a{
	padding: 17px 0;
}
#top-menu>li.active>a:before{
	right: 0;
	opacity: 1 ;
}
#top-menu>.current_page_item>a,#top-menu>.current-menu-item>a,#top-menu>.current-menu-parent>a {
	color: #083b66 !important;
}
#top-menu>.current_page_item>a:before,#top-menu>.current-menu-item>a:before,#top-menu>.current-menu-parent>a:before{
	right: 0;
	opacity: 1 ;
}
.sub-menu a{
	font-weight: 500 !important;
	padding: 15px 0 !important;
}
.sub-menu>li:not(:last-child){
	border-bottom: 1px solid #eee !important;
}
.sub-menu>li>a:before{
	content: '\f061';
	font-family: "FontAwesome";
	margin-left: -20px;
	transition:.15s;
	opacity: 0;
	padding-right: 5px;
}
.sub-menu>li>a:hover:before{
	margin-left: 0;
	opacity: 1;
}
.sub-menu .current-menu-item>a:before{
	content: '\f061';
	font-family: "FontAwesome";
	margin-left: 0px;
	transition:.15s;
	opacity: 1;
	padding-right: 5px;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 40%;
	height: 60px;
	margin: auto !important;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.8) !important;
	color: #fff !important;
	font-size: 32px !important;
	justify-content: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.owl-dot{
	background-color: #bbb !important;
}
.owl-dot.active{
	background-color: #083b66 !important;
}
.navigation-top{
	height: 82px;
	box-shadow: 0 6px 8px rgba(41, 41, 58, 0.17);
}
.pad_0{
	padding: 0px;
}
.ui-to-top::before {
	content: '\f106';
	font-family: 'FontAwesome';
	line-height: 50px;
}
.ui-to-top, .ui-to-top:active, .ui-to-top:focus {
	color: #fff;
	background-color: #083b66;
}
.ui-to-top:hover {
	color: #fff;
	background-color: #304c65;
	text-decoration: none;
}
.pb_60{
	padding-bottom: 60px;
}
.mt_15{
	margin-top: 15px;
}
.mt_20{
	margin-top: 20px;
}
.ui-to-top.active {
	transform: translateY(0);
}
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar {
	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #083b66;
	border-radius: 5px;
}

/*Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #304c65;
}
.wpcf7-submit:hover{
	color: #fff;
	background: #304c65;
	border-color: #304c65;
}
.form-input{
	border-radius:35px !important;
	padding: 0.7em !important;
}
.wpcf7-submit{
	color: #fff;
	background: #083b66;
	border-color: #083b66;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px !important;
	padding: 8.8px 28px !important;
	min-height: 50px;
	min-width: 170px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.bg-gray-darker input[type="text"],.bg-gray-darker input[type="email"],.bg-gray-darker textarea,
.bg-gray-darker input[type="text"]::placeholder,.bg-gray-darker input[type="email"]::placeholder,.bg-gray-darker textarea::placeholder{
	background: #353535 !important;
	color: #838386 !important;
	border:none;
}
.pad_t_30{
	padding-top: 30px;
}
/*footer{*/
/*background-color: #304c65 !important;*/
/*}*/
body{
	padding-top: 82px;
	overflow-x: hidden;
}
.sbi_follow_btn a{
	box-shadow: inset 0 0 10px 20px #083b66 !important;
	margin: 12px auto 0 !important;
}
.socials i {
	font-size: 20px;
}
.mt_10{
	margin-top: 10px;
}
.socials a{
	width: 30px;
	height: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border : 1px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: transparent;
	margin-right: 10px;
	transition:0.7s;
}
.socials a:hover{
	background-color: #fff;
	color: #000 !important;
	transition: 0.7s
}
.socials{
	margin-top: 19px;
}
.w_100p{
	width: 100px !important;
}
.socials a:hover {
	text-decoration: none !important;
}
footer p {
	font-size: 11px !important;
}
.bg_main{
	background-color: #062844 ;
}
.mb_5{
	margin-bottom: 5px;
}
.flex_col{
	flex-direction: column;
}
.m_3{
	margin: 3px;
}
.bg-gray-darker p ,.bg-gray-darker a,.bg-gray-darker span{
	color: #fff;
	-webkit-transition: 250ms ;
	-moz-transition: 250ms ;
	-ms-transition: 250ms ;
	-o-transition: 250ms ;
	transition: 250ms ;
}
footer p{
	margin: 10px 0 0 0;
}
.mb_20{
	margin-bottom: 20px;
}
.bg-gray-darker a:hover{
	text-decoration: underline;
	color: #eee;
	-webkit-transition: 250ms ;
	-moz-transition: 250ms ;
	-ms-transition: 250ms ;
	-o-transition: 250ms ;
	transition: 250ms ;
}
.icon>i{
	color: #fff;
	font-size: 22px;
}
.icon:hover>i{
	color: #ffec17;
}
.list-team{
	margin: 0;
}
.team-classic img	{
	cursor: pointer;
}
.color_white{
	color: #fff !important;
}