@media(max-width: 1090px){
    #menu_cont{
        display: none ;
    }
    .js .menu-toggle{
        display: block !important;
        float: right ;
    }
    .menu-toggle{
        font-size: 20px !important;
    }
    .navigation-top{
        width: 100%;
        position: relative !important;
    }
    #menu_cont.toggled{
        display: block;
        width: 100%;
        background: #fff;
        padding-left: 15px;
    }
    body{
        padding-top: 0;
    }
    #top-menu li{
        display: block
    }
    #top-menu li a:hover:before{
        right: 90%
    }
    #top-menu>.current_page_item>a:before, #top-menu>.current-menu-item>a:before, #top-menu>.current-menu-parent>a:before{
        right: 90%;
    }
    .slide_section{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
@media(min-width: 1032px) {
    #services, #advantages {
        position: relative;
        left: -100%;
    }
    #counter_section, #testimonials {
        position: relative;
        right: -100%;
    }
}
@media(max-width:767px){
    .counters_icon{
        border: 4px solid #083b66;
        box-shadow: none;
    }
    .slide_section h1{
        font-size: 22px !important;
    }
    .slide_section p{
        font-size: 13px !important;
    }
}
@media (min-width: 1300px){
    .lg-pb-5{
        padding-bottom: 3rem;
    }
    .lg-pt-5{
        padding-top: 3rem;
    }
}