.blue{
    color: #5597D0;
    font-weight: bold;
}
.lighter_blue{
    color: #82BCFF;
    font-weight: 100;
}
a:hover{
    text-decoration: none;
}
section{
    position: relative;
    overflow: hidden;
}

.nav-item{
    color: #fff;
    padding: 25px 10px;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #fff;
}
nav{
    border-bottom: 1px solid #6d97d0;
}
.jcc{
    justify-content: center !important;
    align-items: center;
}
.z_index{
    z-index: 999;
}
.text-light.title{
    font-weight: bold;
    font-size: 72px;
}
.input-group-append>button#search{
    border-radius: 50px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    margin-left: -50px;
    padding: 0 50px;
    z-index: 43 !important;
}
.form-control.search{
    padding: 30px 50px;
    font-style: italic;
    border-radius: 50px;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    height: 50px;
}
.items_div{
    border: 1px solid #ccc;
}
.inl_block{
    display: inline-block;
    margin-left: 4%;
    cursor: pointer;
}
.img-bordered{
    border-radius: 20px;
}
img {
    cursor: pointer;
}
.animation_div{
    position: absolute;
    bottom: 0;
    right: 60px;
    transition:0.3s
}
.relative.inl_block:hover .animation_div{
    right: 30px;
    transition:0.4s
}
h4.blue.an_btn{
    position: absolute;
    top: 50px;
    padding: 0 20%;

}
span.now{
    position: absolute;
    bottom: 70px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.custom_btn:focus{
    box-shadow: none
}
.custom_btn,.owl-next,.owl-prev{
    background-image: url('../img/slide_btn.png') !important;
    width: 100px;
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    overflow: hidden;
    background-repeat: no-repeat !important;
    margin: 0 auto;
}
.arrow_left{
    margin-left: 70px;
    transition:0.5s
}
.pt_15{
    padding-top: 15%;
}
.arrow_right{
    margin-right: 70px;
    transition:0.5s
}
.arrow_top{
    margin-top: 25px;
}
.to_top:focus{
    box-shadow: none;
}
.custom_btn:hover>img{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    transition:0.5s
}
.owl-nav > button:hover>img{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    transition:0.5s
}
.owl-carousel .owl-prev, .owl-carousel .owl-next{
    position: absolute;
    top: 30%;
}
#com_owl .owl-prev, .owl-carousel .owl-next{
    position: absolute;
    top: 32%;
}
.owl-next{
    right: -130px;
}
.owl-prev{
    left: -130px;
}
.bordered_btn{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    padding: 7px 30px;
}
.relative{
    position: relative;
}
.shadow{
    height: 70px;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    background-color: rgba(0,0,0,0.8);
}
.get{
    top: -93px;
    z-index: 1;
}
.team{
    z-index: 2;
}
.bordered_inp{
    border-radius: 30px;
}
body{
    /*background: #0d2145;*/
}
#footer_section{
    margin-top: -93px;
}
img.d-block{
    border-radius: 25px;
}
.textarea{
    height: 120px !important;
    resize: none;
}
.textarea_btn{
    height: 120px !important;
    border-radius: 30px;
}
section>div{
    background-repeat: no-repeat;
}
.list-style-none{
    list-style: none;
}
.bg-default{
    background: #fff;
}
.fa-phone{
    transform: rotate(90deg);
}
.bordered_8{
    border-radius: 8px;
}
.bordered_8.fb{
    padding: 6px 17px;
}
.input-group-prepend.marker{
    margin-right: -40px;
    z-index: 999;
}
.marker > span{
    font-size: 32px;
    color: #6c757d;
}
.listings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.circle{
    border-radius: 100%;
    z-index: -1;
    margin-left: -40px;
}
.outlined_circle{
    border-radius: 100%;
    position: absolute;
    width: 1700px;
    height: 1700px;
    border: 1px solid #ccc;
    top: 30px;
    right: -800px;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swingDefault;
    animation-name: swingDefault;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.left.outlined_circle{
    top: -800px;
    left: -800px;
}

.light .circle.small{
    background: #91B3DC;
}
.light .circle.big{
    background: #e0ecf7;
}
.main_title{
    z-index: 1;
    margin-top: -20px;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

img{
    transition:0.4s;
}
#project_section{
    z-index: 3;
}
.h-600{
    height: 600px;
}
.mt_m140{
    margin-top: -140px;
}
.items_link{
    display: inline-block;
    overflow: hidden;
}
.items_link>img{
    transition: 0.5s
}
.items_link:hover>img{
    transform: scale(1.2);
    opacity: 0.7;
    transition: 0.5s
}
.form-control.search{
    z-index: 42;
}
.xs-block,.xs-flex{
    display: none;
}
.btn-outline-warning:hover,.btn-outline-warning:focus{
    color: #fff !important;
}
.to_top{
    position: fixed;
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 9px;
    right: 35px;
    bottom: 35px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 120;
    transition: .45s all ease-in-out;
    display: none;
}
.to_top.active{
    display: block !important;
}
.owl-next:focus,.owl-prev:focus{
    box-shadow: none;
    outline: none;
}
@media(max-width: 767px){
    .xs-hidden{
        display: none;
    }
    .owl-next{
        right: -80px;
    }
    .owl-prev{
        left: -80px;
    }
    .owl-carousel .owl-prev, .owl-carousel .owl-next{
        position: absolute;
        top: 35%;
    }
    .to_top{
        right: 15px;
        bottom: 15px;
    }
    .xs_now{
        padding: 10px 15px;
        font-size: 12px !important;
    }
    #slide_section{
        background: #fff;
    }
    #slide_section .main_title{
        color: #5597D0 !important;
    }
    #slide_section .circle.small{
        background: #91B3DC;
    }
    #slide_section .circle.big{
        background: #e0ecf7;
    }
    #slide_section .outlined_circle{
        background: linear-gradient(135deg, #7db9e8 19%,#7db9e8 47%,#207cca 85%,#207cca 85%,#207cca 85%);
    }
    #listings_section{
        background: #fff;
    }
    .left.outlined_circle{
        background-color: #7db9e8;
        z-index: -1;
    }
    .xs-block{
        display: block;
    }
    .xs-flex{
        display: flex;
    }
    .nav-item{
        padding: 10px 25px;
    }
    .nav-link{
        padding: 0;
    }
    input,button,textarea{
        font-size: 10px !important;
    }
    .form-control.search{
        padding: 10px;
        font-style: italic;
        height: 30px;
    }
    .input-group-append>button#search{
        border-radius: 50px;
        height: 30px;
        margin-left: -50px;
        padding: 0px 20px;
        z-index: 43 !important;
    }
    .xs_jcc{
        justify-content: center !important;
    }
    .input-group-prepend{
        display: none;
    }
    .xs-relative{
        position: relative !important;
    }
    .xs-bg-lighter{
        background: #fff;
    }
    .xs-pt-5{
        padding-top: 3rem;
    }
    .xs-pb-5{
        padding-bottom: 3rem;
    }
    .xs_bg_blue{
        width: 100%;
        /*height: 100%;*/
        background: rgba(14, 103, 210, 0.7);
    }
    #get_section{
        top: 0px !important;
    }
    #footer_section{
        margin-top: 0px;
    }
    .xs-mt_-70{
        margin-top: -70px;
    }
    .xs-mt_-40{
        margin-top: -40px;
    }
    body{
        font-size: 8px !important;
    }
    p{
        margin-bottom: 10px;
    }
    .xs-mt-10{
        margin-top: 10px;
    }
    .outlined_circle_xs{
        border-radius: 100%;
        position: absolute;
        width: 800px;
        height: 800px;
        border: 1px solid #ccc;

        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation-name: swingDefault;
        animation-name: swingDefault;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
    .left.outlined_circle_xs{
        left: -400px;
        /*-webkit-animation-name: swing;*/
        /*animation-name: swing;*/
    }
    .bottom.outlined_circle_xs{
        top: -400px;
        right: -400px;
        -webkit-animation-name: swingDefault;
        animation-name: swingDefault;
    }
    .team_top.outlined_circle_xs{
        top: -650px;
        right: -400px;
        -webkit-animation-name: swingDefault;
        animation-name: swingDefault;
    }
    .team_bottom.outlined_circle_xs{
        bottom: -400px;
        left: -400px;
        border: 1px solid #7db9e8;
        -webkit-animation-name: swingDefault;
        animation-name: swingDefault;
    }
    .bottom.outlined_circle_xs.bg_f{
        background-color: #fff;
    }
    .team_top.outlined_circle_xs.bg_b{
        background-image: linear-gradient(135deg, #7db9e8 19%,#7db9e8 47%,#207cca 85%,#207cca 85%,#207cca 85%)
    }
    #project_section{
        background-image: #fff
    }
    #listings_section .outlined_circle_xs{
        background-image: linear-gradient(135deg, #7db9e8 19%,#7db9e8 47%,#207cca 85%,#207cca 85%,#207cca 85%)
    }
    .xs-pt-10p{
        padding-top: 10px;
    }
    .sm-font{
        font-size: 6px;
    }
}

@media(min-width: 768px){
    .bg_blue{
        width: 100%;
        background: rgba(14, 103, 210, 0.7);
    }
    .md-pb-5{
        padding-bottom: 3rem;
    }
    .md-text-right{
        text-align: right;
    }
}
@media(max-width: 870px){
    .animation_div>img{
        height: 70px !important;
    }
    span.now{
        bottom: 50px;
    }
}
@media (max-width:900px){
    #get_section{
        top: -50px;
    }
    .mt_m140{
        margin-top: -90px;
    }
    label{
        font-size: 12px;
    }
    .form-group{
        margin-bottom: 0;
    }
    body{
        font-size: 13px;
    }
    .btn{
        font-size: 13px;
    }
    h4{
        font-size: 1rem;
    }
    .custom_btn,.owl-nav button{
        width: 50px;
        height: 50px;
    }
    .arrow_right{
        margin-right: 40px;
    }
    .arrow_left{
        margin-left: 40px;
    }
    .arrow_top{
        margin-top: 20px;
    }

    .sm-pl-5{
        padding-left: 3rem !important;
    }
    .text-light.title{
        font-size: 28px;
    }
    .sm-h-280{
        height: 280px !important;
    }
}
@media (min-width:901px){
    .lg-h-100{
        height: 100% !important;
    }
    .lg-pt-5{
        padding-top: 3rem !important;
    }
    .lg-pb-5{
        padding-bottom: 3rem !important;
    }

}
@media (max-width: 1099px){
    .bg_img{
        min-height: 555px
    }
    .team.bg_img{
        min-height: 340px;
    }
    .pt_15{
        padding-top: 10%;
    }
    .form-control-lg{
        height: 30px !important;
    }
    .main_title{
        font-size: 24px !important;

    }
    .textarea{
        height: 50px !important;
    }
    .textarea_btn{
        height: 50px !important;
    }
    .md-h-400{
        height: 400px ;
    }
    .sm-pl-5{
        padding-left: 3rem !important;
    }
    .outlined_circle{
        width: 800px;
        height: 800px;
        right: -400px;
    }
    .left.outlined_circle{
        top: -400px;
        left: -400px;
    }
}
@media (min-width:1100px) and (max-width: 1200px){
    .bg_img{
        min-height: 555px
    }
    .team.bg_img{
        min-height: 340px;
    }
    .pt_15{
        padding-top: 10%;
    }
    .main_title{
        font-size: 24px !important;
    }
    .md-h-400{
        height: 450px ;
    }
}
@media (min-width:1200px) and (max-width: 1300px) {
    .bg_img{
        min-height: 591px
    }
    .team.bg_img{
        min-height: 495px;
    }
    .main_title{
        font-size: 24px !important;
    }
    .md-h-400{
        height: 500px ;
    }
}
@media (min-width:1300px)  and (max-width: 1399px){
    .bg_img{
        min-height: 685px
    }
    .team.bg_img{
        min-height: 540px;
    }
    .md-h-400{
        height: 550px ;
    }
}
@media (max-width:1460px){
    .inl_block{
        width: 40%
    }
    .lg-pt-5{
        padding-top: 10px !important;
    }
}
@media (min-width:1400px){
    .bg_img{
        min-height: 950px
    }
    .team.bg_img{
        min-height: 733px;
    }
    .md-h-400{
        height: 875px ;
        margin-top: -140px
    }
}